.slider .btn {
    margin-top: 20px;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
    position: absolute;
    width: 100%;
    text-align: center;
}

.section-follow .fab {
    margin: 5px 10px;
}

.section-contact .card-content.teal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.section-contact ul.collection {
    margin-top: 0;
    border-top: none;
}

.section-contact h5 {
    margin-bottom: 30px;
}